---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=6&card[exp_year]=2018&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17pcXjFz4N3HhUVcA43DlqJS",
          "object": "token",
          "card": {
            "id": "card_17pcXjFz4N3HhUVc9meoa6rs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "r5Z6VEb4kusxXCu7",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.95.78.193",
          "created": 1458126623,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 16 Mar 2016 11:10:24 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_17pcXjFz4N3HhUVcA43DlqJS&currency=usd&description=an+invalid+charge
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17pcXlFz4N3HhUVcXzVx8IuG"
          }
        }
  recorded_at: Wed, 16 Mar 2016 11:10:25 GMT
recorded_with: VCR 2.9.3
