---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_17p61EFz4N3HhUVc5UvgnCQt&currency=usd&description=Sign+up+charge+for+mike%40example.com
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17p61FFz4N3HhUVc3Huk76MR",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17p61FFz4N3HhUVcIW4J5jxV",
          "captured": true,
          "created": 1458001601,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for mike@example.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17p61FFz4N3HhUVc3Huk76MR/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17p61EFz4N3HhUVcOfWzP5Ri",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "ask4mds9deJSHEQc",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Tue, 15 Mar 2016 00:26:42 GMT
recorded_with: VCR 2.9.3
