---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&card=tok_17pooKFz4N3HhUVcGFNxQP0F&currency=usd&description=Sign+up+charge+for+john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17pooLFz4N3HhUVcbudGAh2P"
          }
        }
  recorded_at: Thu, 17 Mar 2016 00:16:21 GMT
recorded_with: VCR 2.9.3
