---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_17t1MZFz4N3HhUVcamwGNPGA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_17t1MZFz4N3HhUVcamwGNPGA",
          "object": "event",
          "api_version": "2016-03-07",
          "created": 1458937015,
          "data": {
            "object": {
              "id": "ch_17t1MZFz4N3HhUVc4I8Gu3cw",
              "object": "charge",
              "amount": 999,
              "amount_refunded": 0,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1458937015,
              "currency": "usd",
              "customer": "cus_89ApiRFvtizlXW",
              "description": "payment to fail",
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_17t1MZFz4N3HhUVc4I8Gu3cw/refunds"
              },
              "shipping": null,
              "source": {
                "id": "card_17t1L5Fz4N3HhUVc68rxcVUK",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_89ApiRFvtizlXW",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 3,
                "exp_year": 2017,
                "fingerprint": "aswluvZK5AfHIcvT",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": null,
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": "req_89K0HTcybh2p6E",
          "type": "charge.failed"
        }
  recorded_at: Fri, 25 Mar 2016 20:23:22 GMT
recorded_with: VCR 2.9.3
