---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17rzDmFz4N3HhUVcQtMaCzUF",
          "object": "token",
          "card": {
            "id": "card_17rzDmFz4N3HhUVceYsZZ73X",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "ask4mds9deJSHEQc",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "24.95.78.193",
          "created": 1458690454,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Tue, 22 Mar 2016 23:47:34 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_17rzDmFz4N3HhUVcQtMaCzUF&email=isaiah_gleason%40koch.co&plan=1
    headers:
      Authorization:
      - Bearer sk_test_DPrSozlfiITwL7C9Sl8MGV8z
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_88FjvscWqkCq8V",
          "object": "customer",
          "account_balance": 0,
          "created": 1458690455,
          "currency": "usd",
          "default_source": "card_17rzDmFz4N3HhUVceYsZZ73X",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "isaiah_gleason@koch.co",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_17rzDmFz4N3HhUVceYsZZ73X",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_88FjvscWqkCq8V",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "ask4mds9deJSHEQc",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_88FjvscWqkCq8V/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_88FjKAUAGH7kJq",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "current_period_end": 1461368855,
                "current_period_start": 1458690455,
                "customer": "cus_88FjvscWqkCq8V",
                "discount": null,
                "ended_at": null,
                "metadata": {},
                "plan": {
                  "id": "1",
                  "object": "plan",
                  "amount": 999,
                  "created": 1458689584,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "base plan",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1458690455,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_88FjvscWqkCq8V/subscriptions"
          }
        }
  recorded_at: Tue, 22 Mar 2016 23:47:35 GMT
recorded_with: VCR 2.9.3
